@red: #ff0000;
@blue: #58c;
@bold: impact;
@big: 40px;
@black: #000;

body{background-color:@black;color:#fff;font-family:sans-serif;}
table{border:none;padding:10px;text-align:left}
table tr{margin:10px}
table td, table th{padding:10px;margin:0 20px}
a{color:@blue}
h1{color:@red}
p{color:@blue}
pre{color:#ddd}
.big{font-family:@bold;font-size:@big}