body {
  background-color: #000000;
  color: #fff;
  font-family: sans-serif;
}
table {
  border: none;
  padding: 10px;
  text-align: left;
}
table tr {
  margin: 10px;
}
table td,
table th {
  padding: 10px;
  margin: 0 20px;
}
a {
  color: #5588cc;
}
h1 {
  color: #ff0000;
}
p {
  color: #5588cc;
}
pre {
  color: #dddddd;
}
.big {
  font-family: impact;
  font-size: 40px;
}
